<table width="100%" style="text-align: left" cellpadding="10">
    <tr>
        <td width="60%" style="font-size: 12px;">
            <p><strong>Nome:</strong> $cliente$</p>
            <p><strong>Email:</strong> $email$</p>
            <p><strong>Telefone:</strong> $telefone$</p>
        </td>
    </tr>
    <tr>
        <td style="padding-bottom: 42px; font-size: 14px;">
            <h1 style="margin: 0; color: gray; font-style: italic; font-weight: 500;">Dados do contato</h1>
            <hr style="border-style: solid; color: red;">
            <p><strong>Assunto do contato:</strong> $contato_assunto$</p>
            <p><strong>Mensagem:</strong> $contato_mensagem$</p>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: center;"><b>Ele está esperando seu retorno!</b></td>
    </tr>
</table>