/* ----- menu-2 ----- */ .topo-menu-2
{
    margin-bottom: 10px;
}

.topo-menu-2 .menu-2 .contato,
.topo-menu-2 .menu-2.img-imobiliaria
{
    margin-top: 28px;
}

.topo-menu-2 .menu-2 .sociais
{
    margin-top: 10px;
}

.topo-menu-2 .img-imobiliaria
{
    height: 60px!important;
    max-width: 100% !important;
    margin-top: 10px;
}

.topo-menu-2 .contato
{
    left: 169px;
    font-size: 12px
}

.topo-menu-2 .contato .fa-phone ,
.topo-menu-2 .contato .fa-map-marker
{
    padding: 6px 10px;
    display: inline-block;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    font-size: 20px;
    margin-left: 30px;
    margin-right: 5px;
    vertical-align: text-bottom;
}

.topo-menu-2 .contato p
{
    display: inline-block;
    font-style: italic;
    font-weight: bold;
    margin-top: 20px;
}

.topo-menu-2 .sociais span
{
    float: right;
    position: relative;
    top: 15px;
    font-size: 11px;
}

.topo-menu-2 .sociais ul
{
    width: 100%;
}

.topo-menu-2 .sociais ul li
{
    float: right;
}

.topo-menu-2 .sociais ul li > a
{
    font-size: 20px;
    margin-top: 20px;
    padding: 5px;
    text-align: center;
    width: 33px;
    margin-left: 12px;
}

.menu-2
{
    z-index: 2;
}

.menu-2 .pesquisa-imovel form
{
    padding: 0;
    height: 50px;
}

.menu-2  .input-group
{
    height: 100%!important;
}

.menu-2 .input-group-btn button
{
    height: 100% !important;
    background-color: transparent!important;
    font-size: 19px;
}
N

.menu-2 .form-control::-webkit-input-placeholder {font-style: italic; font-size: 11px;  padding-left: 2px;  }
.menu-2 .form-control:-moz-placeholder {font-style: italic; font-size: 11px;  padding-left: 2px;  }
.menu-2 .form-control::-moz-placeholder {font-style: italic; font-size: 11px;  padding-left: 2px;  }
.menu-2 .form-control:-ms-input-placeholder {font-style: italic; font-size: 11px;  padding-left: 2px;  }

.menu-2 .form-control
{
    background-image: none!important;
    padding-left: 12px!important;;
    height: 100%;
}



.topo-menu-2 .contato .fa-phone ,
.topo-menu-2 .contato .fa-map-marker
{
    border: 1px solid black;
    -moz-box-shadow: 0px 0px 2px #888;
    color: #008280;
}

.topo-menu-2 .sociais span
{
    color: black;
}

.topo-menu-2 .sociais ul li > a
{
    border: 1px solid black;
    color: #676767;
}

.menu-2 .menu-items a,
.menu-2 .menu-items a:hover,
.menu-2 .menu-items a:active,
.menu-2 .menu-items a:focus
{
    color: white!important;
    background-color: transparent;
}


.menu-2  .input-group
{
    background-color: #024c4b!important;
}

.menu-2 .input-group-btn button
{
    color: white;
}
.menu-2
{
    background-color: #008280;
}

.menu-2 .form-control::-webkit-input-placeholder {color: white;}
.menu-2 .form-control:-moz-placeholder {color: white;}
.menu-2 .form-control::-moz-placeholder {color: white;}
.menu-2 .form-control:-ms-input-placeholder {color: white;}

.menu-2 .form-control
{
    background-color: #024c4b!important;
    border: 1px solid #024c4b!important;
    color: white!important;
}/* ----- mapa-1 ----- */ .mapa-1 > .mapa
                          {
                              height: 400px
                          }

.mapa-1
{
    padding: 0;
}/* ----- form-contato ----- */ .form-contato-1
                                {
                                    font-style: italic;
                                }

.form-contato-1 h3
{
    font-weight: bold;
}

.form-contato-1 p
{
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 1.3rem;
}

.form-contato-1 .form-contato .form-control,
.form-contato-1 .form-contato .bootstrap-select > .dropdown-toggle
{
    border-radius: 0!important;
}

.form-contato-1 .form-contato .btn-enviar
{
    border: 1px solid #c1c1c1;
    margin-top: 11px;
    float: right;
    margin-right: 13px;
    font-size: 1.3rem;
    padding: 4px;
    padding-left: 13px;
}

.form-contato-1 .form-contato .btn-enviar > i
{
    color: #a5a5a5;
    margin-left: 4px;
}/* ----- condominios-1 ----- */ .condominios-1 .titulo
                                 {
                                     font-size: 26px;
                                     font-weight: 100;
                                 }

.condominios-1 hr
{
    width: 80%;
    float: left;
}

.condominios-1
{
    margin-top: 51px;
}

.condominios-1 .logos-condominio .item
{
    height:200px;
}

.condominios-1 .imagem
{
    height: 200px;
    background-position: center;
    background-size: cover;
}

.condominios-1 .logos-condominio
{
    height:200px;
}


.condominios-1 .logos-condominio{
    margin-top: 60px;
    height: 1px;
}

.condominios-1 .logos-condominio .item img
{
    max-height: 130px;
    width: auto;
}

.condominios-1 .logos-condominio .item
{
    height: 130px;
}

.condominios-1 .logos-condominio .item
{
    padding: 10px 5px;
}

.condominios-1 .owl-carousel .owl-item img
{
    width: auto!important;
    margin-right: auto!important;
    margin-left: auto!important;
}

.condominios-1 .logos-condominio .item {
    max-height: 500px;
}

.condominios-1 .owl-carousel .owl-item img
{
    width: 185px!important;
}


@media(min-width:320px) and (max-width: 768px)
{
    .condominios-1 .col-md-9 hr
    {
        width: 204px;
    }

    .condominios-1 .owl-carousel .owl-stage-outer
    {
        width: 100% !important;
    }
}


/*Cores*/

.condominios-1 .titulo
{
    color: #007f83;
}

.condominios-1 hr
{
    border-top: 1px solid #636363;
}/* ----- rodape-1 ----- */ .footer-1 .container
                            {
                                margin-top: 39px;
                            }

.footer-1 span
{
    text-align: center;
    margin-bottom: 15px;
    font-style: italic;
    font-size: 11px;
}

.footer-1 span > a > img
{
    height: 15px;
    margin-right: 20px
}

.footer-1 .dados-contato p ,
.footer-1 .endereco p
{
    margin-top: 11px;
}

.footer-1 .endereco
{
    padding-left: 41px;
}

.footer-1 .facebook
{
    bottom: 10px;
    left: 20px;
}

.footer-1 .linha-topo
{
    width: 200px;
}

.footer-1 .linha-baixo
{
    width: 660px;
    margin-bottom: 15px;
}

@media(min-width:320px) and (max-width: 768px)
{
    .footer-1 .endereco,
    .footer-1 .dados-contato
    {
        padding-left: 15px;
        padding-right: 15px;
        font-size: 1.3rem;
        margin-bottom: 10px;
        text-align: center;
    }

    .footer-1 .linha-baixo
    {
        width: 204px;
    }

    .footer-1 .logo-mobile img
    {
        height: 42px;
        margin-left: auto;
        margin-right: auto;
    }
}

.footer-1 .linha-topo
{
    border-top: 1px solid #008182;

}

.footer-1 .linha-baixo
{
    border-top: 1px solid #008182;
}