.menu-2
{
    background-color: #7b1319;
}

.menu-2 .form-control,
.menu-2 .input-group,
.nav > li > a:hover,
.nav > li > a:focus
{
    background-color: #5c1014 !important;
    border-color: #5c1014 !important;
    color: white;
}

.detalhes-condominio-1 .nav > li > a:hover,
.detalhes-condominio-1 .nav > li > a:focus
{
    background-color: #d2d2d2 !important;
    border-color: #505050 !important;
    color: #1b1b1b;
}

.banner-1 .form-pesquisa-banner-1 .btn-pesquisar
{
    color: #5C1014 !important;
}

.destaques-1 .previa-imovel:hover,
.pesquisa-1 .previa-imovel:hover
{
    border: 1px solid rgba(123, 30, 25, 0.18);
}

.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .btn-pesquisar
{
    background-color:#e09b31!important;
}

.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .btn-pesquisar:hover {
    background-color: #7b1319!important;
    color: white!important;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.condominios-1 .titulo
{
    color: #e09b31;
}

.condominios-1 hr
{
    border-top: 1px solid #e09b31;
}

.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .slider-handle,
.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .slider-selection
{
    background-image: linear-gradient(to bottom,#c5b045 0,#e09b31 100%)!important;
}

.footer-1 hr
{
    border-top: 1px solid #e09b31 !important;
}


.topo-menu-2 .contato .fa-phone, .topo-menu-2 .contato .fa-map-marker
{
    color: #676767;
}

.banner-1 .form-pesquisa-banner-1 .form-group
{
    margin-bottom: 5px;
}

.banner-1 .form-pesquisa-banner-1,
.detalhes-imovel-1 .agendar-visita button,
.detalhes-imovel-1 .aviso-login .btn,
.ribbon.temporada span,
.modal-header,
#modal-login .modal-footer .btn-login
{
    background-color: #7B1E19 !important;
    font-size: 1.5rem;
}

.banner-1 .form-pesquisa-banner-1 .form-filtro label
{
    font-size: 0.9rem;
}

#modal-contato-interesse button
{
    background-color: #7b1e19;
    border: none;
}

.ribbon.venda span
{
    background-color: #e09b31!important;
}

.ribbon.aluguel span
{
    background-color: #244ca5!important;
    color: #fbfbfb;
}

.light-theme .current
{
    background: #7b1e19;
    color: #e09b31;
}

.detalhes-imovel-1 .aviso-login p
{
    font-size: 1.65rem;
    width: 80%;
}

.light-theme a,
.light-theme span,
.light-theme a:hover,
.light-theme .current
{
    border: 1px solid #cecece;
}

.detalhes-imovel-1 .descricao-imovel .valor-imovel span,
.detalhes-imovel-1 .descricao-imovel .valor-imovel span small,
.detalhes-imovel-1 .infra-imovel .fa,
.detalhes-imovel-1 .infra-imovel .fa span
{
    color: #7b1e19;
}

.detalhes-imovel-1 .infra-imovel .fa
{
    border-color: #7b1e19;
}

#modal-login .modal-footer .btn-login,
#modal-dados .modal-footer .btn-salvar
{
    border-color: #7b1e19;
    color: white;
    background-color: #7b1e19;
}

.modal-header,
button.close
{
    color: #fff;
}

.modal-header button.close:hover,
.modal-header button.close:focus
{
    color: #8c8888;
}

.historico-1 .previa-imovel:hover
{
    border: 1px solid rgba(123, 30, 25, 0.18);
}

.detalhes-condominio-1 .imoveis-condominio .previa-imovel:hover
{
    border-color: rgba(123, 30, 25, 0.18);
}

.topo-menu-2 .contato p
{
    font-weight: 600!important;
}

/* POR SOLICITACAO DO DINO NAO ESTA SENDO EXIBIDA A FAIXA QUE SINALIZA A FINALIDADE DO IMÓVEL */
.ribbon
{
    display: none;
}

.detalhes-condominio-1 .nome-condominio span
{
    font-size: 7rem;
}

.pagina-home .pesquisa-rapida-1
{
    margin-top: 70px;
}