/* ----- menu-2 ----- */ .topo-menu-2
{
    margin-bottom: 10px;
}

.topo-menu-2 .menu-2 .contato,
.topo-menu-2 .menu-2.img-imobiliaria
{
    margin-top: 28px;
}

.topo-menu-2 .menu-2 .sociais
{
    margin-top: 10px;
}

.topo-menu-2 .img-imobiliaria
{
    height: 60px!important;
    max-width: 100% !important;
    margin-top: 10px;
}

.topo-menu-2 .contato
{
    left: 169px;
    font-size: 12px
}

.topo-menu-2 .contato .fa-phone ,
.topo-menu-2 .contato .fa-map-marker
{
    padding: 6px 10px;
    display: inline-block;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    font-size: 20px;
    margin-left: 30px;
    margin-right: 5px;
    vertical-align: text-bottom;
}

.topo-menu-2 .contato p
{
    display: inline-block;
    font-style: italic;
    font-weight: bold;
    margin-top: 20px;
}

.topo-menu-2 .sociais span
{
    float: right;
    position: relative;
    top: 15px;
    font-size: 11px;
}

.topo-menu-2 .sociais ul
{
    width: 100%;
}

.topo-menu-2 .sociais ul li
{
    float: right;
}

.topo-menu-2 .sociais ul li > a
{
    font-size: 20px;
    margin-top: 20px;
    padding: 5px;
    text-align: center;
    width: 33px;
    margin-left: 12px;
}

.menu-2
{
    z-index: 2;
}

.menu-2 .pesquisa-imovel form
{
    padding: 0;
    height: 50px;
}

.menu-2  .input-group
{
    height: 100%!important;
}

.menu-2 .input-group-btn button
{
    height: 100% !important;
    background-color: transparent!important;
    font-size: 19px;
}


.menu-2 .form-control::-webkit-input-placeholder {font-style: italic; font-size: 11px;  padding-left: 2px;  }
.menu-2 .form-control:-moz-placeholder {font-style: italic; font-size: 11px;  padding-left: 2px;  }
.menu-2 .form-control::-moz-placeholder {font-style: italic; font-size: 11px;  padding-left: 2px;  }
.menu-2 .form-control:-ms-input-placeholder {font-style: italic; font-size: 11px;  padding-left: 2px;  }

.menu-2 .form-control
{
    background-image: none!important;
    padding-left: 12px!important;;
    height: 100%;
}



.topo-menu-2 .contato .fa-phone ,
.topo-menu-2 .contato .fa-map-marker
{
    border: 1px solid black;
    -moz-box-shadow: 0px 0px 2px #888;
    color: #008280;
}

.topo-menu-2 .sociais span
{
    color: black;
}

.topo-menu-2 .sociais ul li > a
{
    border: 1px solid black;
    color: #676767;
}

.menu-2 .menu-items a,
.menu-2 .menu-items a:hover,
.menu-2 .menu-items a:active,
.menu-2 .menu-items a:focus
{
    color: white!important;
    background-color: transparent;
}


.menu-2  .input-group
{
    background-color: #024c4b!important;
}

.menu-2 .input-group-btn button
{
    color: white;
}
.menu-2
{
    background-color: #008280;
}

.menu-2 .form-control::-webkit-input-placeholder {color: white;}
.menu-2 .form-control:-moz-placeholder {color: white;}
.menu-2 .form-control::-moz-placeholder {color: white;}
.menu-2 .form-control:-ms-input-placeholder {color: white;}

.menu-2 .form-control
{
    background-color: #024c4b!important;
    border: 1px solid #024c4b!important;
    color: white!important;
}/* ----- rodape-1 ----- */ .footer-1 .container
                            {
                                margin-top: 39px;
                            }

.footer-1 span
{
    text-align: center;
    margin-bottom: 15px;
    font-style: italic;
    font-size: 11px;
}

.footer-1 span > a > img
{
    height: 15px;
    margin-right: 20px
}

.footer-1 .dados-contato p ,
.footer-1 .endereco p
{
    margin-top: 11px;
}

.footer-1 .endereco
{
    padding-left: 41px;
}

.footer-1 .facebook
{
    bottom: 10px;
    left: 20px;
}

.footer-1 .linha-topo
{
    width: 200px;
}

.footer-1 .linha-baixo
{
    width: 660px;
    margin-bottom: 15px;
}

@media(min-width:320px) and (max-width: 768px)
{
    .footer-1 .endereco,
    .footer-1 .dados-contato
    {
        padding-left: 15px;
        padding-right: 15px;
        font-size: 1.3rem;
        margin-bottom: 10px;
        text-align: center;
    }

    .footer-1 .linha-baixo
    {
        width: 204px;
    }

    .footer-1 .logo-mobile img
    {
        height: 42px;
        margin-left: auto;
        margin-right: auto;
    }
}

.footer-1 .linha-topo
{
    border-top: 1px solid #008182;

}

.footer-1 .linha-baixo
{
    border-top: 1px solid #008182;
}/* ----- quem-somos-apresentacao ----- */
.realizacoes-1 .sobre-empresa p
{
   border-top: 1px solid #4c4c4c;
   padding-top: 46px;
   margin-right: 25px;
   text-align: justify;
   font-style: italic;
}
.realizacoes-1
{
    padding-top: 30px;
}

.realizacoes-1 .container > h3
{
    font-weight: bold;
    margin-top: 53px;
    margin-bottom: 41px;
    font-style: italic;
}

.realizacoes-1 .img
{
    padding-top: 20px;

}

.realizacoes-1 .img  hr
{
    width: 48%;
    float: left;
    border-top: 1px solid #b1b1b1;
}
/* ----- quem-somos-objetivos ----- */ .destaques-imobiliaria-1 .sobre-empresa
                                       {
                                           font-size: 1.2rem;
                                           text-align: justify;
                                       }

.destaques-imobiliaria-1 .sobre-empresa h3
{
    text-align: right;
}

.destaques-imobiliaria-1
{
    padding-bottom: 44px;
}/* ----- quem-somos-socios ----- */ .sobre-socios-1
                                     {
                                         margin-top: 50px;
                                     }

.sobre-socios-1 h3
{
    font-weight: bold;
    margin-bottom: 20px;
}

.sobre-socios-1 .historia
{
    font-style: italic;
    font-size: 1.2rem;
    text-align: justify;
}/* ----- quem-somos-corretores-1 ----- */ .corretores-1 h3
                                           {
                                               font-weight: bold;
                                               font-style: italic;
                                               margin-bottom: 40px;
                                               margin-top: 40px;
                                           }

.corretores-1 .corretor
{
    background-position: center;
    background-size: cover;
    height: 300px;
    margin-bottom: 30px;
    padding:0;
    font-size: 1.3rem;
}

.corretores-1 .corretor:hover .detalhes-corretor
{
    opacity:1!important;
    transition:opacity .35s;
}


.corretores-1 .corretor:hover .detalhes-corretor
{
    height: 100%;
    padding-top: 235px;
    font-size: 11px;
    padding-left: 34px;
    font-style: italic;
}

.corretores-1 .corretor:hover .detalhes-corretor > .nome-corretor
{
    font-size: 14px;
}


.corretores-1 .corretor:hover .detalhes-corretor
{
    background-color: rgba(27, 109, 133, 0.57);
}

.corretores-1 .corretor
{
    color: white;
}