/* ----- menu-2 ----- */ .topo-menu-2
{
    margin-bottom: 10px;
}

.topo-menu-2 .menu-2 .contato,
.topo-menu-2 .menu-2.img-imobiliaria
{
    margin-top: 28px;
}

.topo-menu-2 .menu-2 .sociais
{
    margin-top: 10px;
}

.topo-menu-2 .img-imobiliaria
{
    height: 60px!important;
    max-width: 100% !important;
    margin-top: 10px;
}

.topo-menu-2 .contato
{
    left: 169px;
    font-size: 12px
}

.topo-menu-2 .contato .fa-phone ,
.topo-menu-2 .contato .fa-map-marker
{
    padding: 6px 10px;
    display: inline-block;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    font-size: 20px;
    margin-left: 30px;
    margin-right: 5px;
    vertical-align: text-bottom;
}

.topo-menu-2 .contato p
{
    display: inline-block;
    font-style: italic;
    font-weight: bold;
    margin-top: 20px;
}

.topo-menu-2 .sociais span
{
    float: right;
    position: relative;
    top: 15px;
    font-size: 11px;
}

.topo-menu-2 .sociais ul
{
    width: 100%;
}

.topo-menu-2 .sociais ul li
{
    float: right;
}

.topo-menu-2 .sociais ul li > a
{
    font-size: 20px;
    margin-top: 20px;
    padding: 5px;
    text-align: center;
    width: 33px;
    margin-left: 12px;
}

.menu-2
{
    z-index: 2;
}

.menu-2 .pesquisa-imovel form
{
    padding: 0;
    height: 50px;
}

.menu-2  .input-group
{
    height: 100%!important;
}

.menu-2 .input-group-btn button
{
    height: 100% !important;
    background-color: transparent!important;
    font-size: 19px;
}
N

.menu-2 .form-control::-webkit-input-placeholder {font-style: italic; font-size: 11px;  padding-left: 2px;  }
.menu-2 .form-control:-moz-placeholder {font-style: italic; font-size: 11px;  padding-left: 2px;  }
.menu-2 .form-control::-moz-placeholder {font-style: italic; font-size: 11px;  padding-left: 2px;  }
.menu-2 .form-control:-ms-input-placeholder {font-style: italic; font-size: 11px;  padding-left: 2px;  }

.menu-2 .form-control
{
    background-image: none!important;
    padding-left: 12px!important;;
    height: 100%;
}



.topo-menu-2 .contato .fa-phone ,
.topo-menu-2 .contato .fa-map-marker
{
    border: 1px solid black;
    -moz-box-shadow: 0px 0px 2px #888;
    color: #008280;
}

.topo-menu-2 .sociais span
{
    color: black;
}

.topo-menu-2 .sociais ul li > a
{
    border: 1px solid black;
    color: #676767;
}

.menu-2 .menu-items a,
.menu-2 .menu-items a:hover,
.menu-2 .menu-items a:active,
.menu-2 .menu-items a:focus
{
    color: white!important;
    background-color: transparent;
}


.menu-2  .input-group
{
    background-color: #024c4b!important;
}

.menu-2 .input-group-btn button
{
    color: white;
}
.menu-2
{
    background-color: #008280;
}

.menu-2 .form-control::-webkit-input-placeholder {color: white;}
.menu-2 .form-control:-moz-placeholder {color: white;}
.menu-2 .form-control::-moz-placeholder {color: white;}
.menu-2 .form-control:-ms-input-placeholder {color: white;}

.menu-2 .form-control
{
    background-color: #024c4b!important;
    border: 1px solid #024c4b!important;
    color: white!important;
}/* ----- detalhes-condominio-1 ----- */ .detalhes-condominio-1 .detalhes-condominio .fotos-condominio
                                         {
                                             margin-top: 20px;
                                         }

.detalhes-condominio-1 .detalhes-condominio .imagem-principal > .img
{
    height: 300px;
    background-size: cover;
    background-position: center
}

.detalhes-condominio-1 .nome-condominio
{
    text-align: center;
    margin-bottom: 20px;
}

.detalhes-condominio-1 .nome-condominio span
{
    font-size: 12rem;
    border-bottom: 1px solid black;
}

.detalhes-condominio-1 .detalhes-condominio .fotos-condominio .item .img-condominio .img
{
    height: 100px;
    background-position: center;
    background-size: cover;
}

.detalhes-condominio-1 .valor-imovel, .detalhes-condominio-1 .imoveis-condominio .previa-imovel .imovel-tipo
{
    font-weight: bold;
    float: right;
    margin-bottom: 5px;
    font-style: italic;
    color: black;
}

.detalhes-condominio-1 .imoveis-condominio .previa-imovel
{
    padding-top: 15px;
    padding-bottom: 10px;
    border: solid 1px transparent;
}

.detalhes-condominio-1 .imoveis-condominio .previa-imovel:hover
{
    border-color: rgba(0, 129, 129, 0.34);
}

.detalhes-condominio-1 .imoveis-condominio .previa-imovel .imovel-tipo,
.detalhes-condominio-1 .imoveis-condominio .previa-imovel .detalhes
{
    color: #3e3e3e;
}


.detalhes-condominio-1 .imoveis-condominio .previa-imovel .detalhes
{
    font-size: 1.3rem;
}

.detalhes-condominio-1 .imoveis-condominio .previa-imovel .img-imovel > .img
{
    height: 150px;
    background-size: cover;
    background-position: center;
}


.detalhes-condominio-1 .detalhes-condominio .complementos .complemento
{
    font-size: 1.3rem;
    margin-bottom: 7px;
}

.detalhes-condominio-1 .detalhes-condominio .complementos .complemento .fa
{
    margin-right: 3px;
}

.detalhes-condominio-1 .medias-condominio
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.detalhes-condominio-1 .medias-condominio .nav-tabs > li a
{
    color: #0b0b0b;
    border: none;
}

.detalhes-condominio-1 #galeria-fotos .item .imagem,
.detalhes-condominio-1 #galeria-plantas .item .imagem,
.detalhes-condominio-1 #galeria-videos .item .imagem
{
    height: 130px;
    background-position: center;
    background-size: cover;
    width: 100%;
}

.detalhes-condominio-1 #galeria-fotos .item .imagem i,
.detalhes-condominio-1 #galeria-plantas .item .imagem i,
.detalhes-condominio-1 #galeria-videos .item .imagem i
{
    line-height: 130px;
    text-align: center;
    width: 100%;
    color: #fff;
    text-shadow: 1px 1px 1px rgb(90, 90, 90);
}

.detalhes-condominio-1 .medias-condominio .nav-tabs > li.active > a,
.detalhes-condominio-1 .medias-condominio .nav-tabs > li.active > a:hover,
.detalhes-condominio-1 .medias-condominio .nav-tabs > li.active > a:focus,
.detalhes-condominio-1 .medias-condominio .nav-tabs > li > a:hover
{
    border: none;
    background-color: rgba(236, 236, 236, 0.65);
}

.detalhes-condominio-1 .medias-condominio .nav-tabs > li > a i
{
    margin-right: 5px;
}

.detalhes-condominio-1 .medias-condominio .nav-tabs
{
    border: none;
    margin-bottom: 5px;
}

@media(min-width:320px) and (max-width: 768px)
{
    .detalhes-condominio-1 .detalhes-condominio .imagem-principal > .img
    {
        height: 200px;
    }

    .detalhes-condominio-1 .imoveis-condominio .previa-imovel .imovel-tipo
    {
        font-size: 1.2rem;
    }

    .detalhes-condominio-1 .imoveis-condominio h4
    {
        font-size: 1.5rem;
        text-align: center;
        font-weight: bolder;
    }

    .detalhes-condominio-1 .nome-condominio span
    {
        font-size: 2.0rem;
    }

    .detalhes-condominio-1 .detalhes-condominio .complementos .complemento
    {
        font-size: 1.0rem;
        margin-bottom: 4px;
    }

    .detalhes-condominio-1 .detalhes-condominio .complementos .complemento .fa
    {
        margin-right: 3px;
    }
}/* ----- rodape-1 ----- */ .footer-1 .container
                            {
                                margin-top: 39px;
                            }

.footer-1 span
{
    text-align: center;
    margin-bottom: 15px;
    font-style: italic;
    font-size: 11px;
}

.footer-1 span > a > img
{
    height: 15px;
    margin-right: 20px
}

.footer-1 .dados-contato p ,
.footer-1 .endereco p
{
    margin-top: 11px;
}

.footer-1 .endereco
{
    padding-left: 41px;
}

.footer-1 .facebook
{
    bottom: 10px;
    left: 20px;
}

.footer-1 .linha-topo
{
    width: 200px;
}

.footer-1 .linha-baixo
{
    width: 660px;
    margin-bottom: 15px;
}

@media(min-width:320px) and (max-width: 768px)
{
    .footer-1 .endereco,
    .footer-1 .dados-contato
    {
        padding-left: 15px;
        padding-right: 15px;
        font-size: 1.3rem;
        margin-bottom: 10px;
        text-align: center;
    }

    .footer-1 .linha-baixo
    {
        width: 204px;
    }

    .footer-1 .logo-mobile img
    {
        height: 42px;
        margin-left: auto;
        margin-right: auto;
    }
}

.footer-1 .linha-topo
{
    border-top: 1px solid #008182;

}

.footer-1 .linha-baixo
{
    border-top: 1px solid #008182;
}