/* ----- menu-2 ----- */ .topo-menu-2
{
    margin-bottom: 10px;
}

.topo-menu-2 .menu-2 .contato,
.topo-menu-2 .menu-2.img-imobiliaria
{
    margin-top: 28px;
}

.topo-menu-2 .menu-2 .sociais
{
    margin-top: 10px;
}

.topo-menu-2 .img-imobiliaria
{
    height: 60px!important;
    max-width: 100% !important;
    margin-top: 10px;
}

.topo-menu-2 .contato
{
    left: 169px;
    font-size: 12px
}

.topo-menu-2 .contato .fa-phone ,
.topo-menu-2 .contato .fa-map-marker
{
    padding: 6px 10px;
    display: inline-block;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    font-size: 20px;
    margin-left: 30px;
    margin-right: 5px;
    vertical-align: text-bottom;
}

.topo-menu-2 .contato p
{
    display: inline-block;
    font-style: italic;
    font-weight: bold;
    margin-top: 20px;
}

.topo-menu-2 .sociais span
{
    float: right;
    position: relative;
    top: 15px;
    font-size: 11px;
}

.topo-menu-2 .sociais ul
{
    width: 100%;
}

.topo-menu-2 .sociais ul li
{
    float: right;
}

.topo-menu-2 .sociais ul li > a
{
    font-size: 20px;
    margin-top: 20px;
    padding: 5px;
    text-align: center;
    width: 33px;
    margin-left: 12px;
}

.menu-2
{
    z-index: 2;
}

.menu-2 .pesquisa-imovel form
{
    padding: 0;
    height: 50px;
}

.menu-2  .input-group
{
    height: 100%!important;
}

.menu-2 .input-group-btn button
{
    height: 100% !important;
    background-color: transparent!important;
    font-size: 19px;
}
N

.menu-2 .form-control::-webkit-input-placeholder {font-style: italic; font-size: 11px;  padding-left: 2px;  }
.menu-2 .form-control:-moz-placeholder {font-style: italic; font-size: 11px;  padding-left: 2px;  }
.menu-2 .form-control::-moz-placeholder {font-style: italic; font-size: 11px;  padding-left: 2px;  }
.menu-2 .form-control:-ms-input-placeholder {font-style: italic; font-size: 11px;  padding-left: 2px;  }

.menu-2 .form-control
{
    background-image: none!important;
    padding-left: 12px!important;;
    height: 100%;
}



.topo-menu-2 .contato .fa-phone ,
.topo-menu-2 .contato .fa-map-marker
{
    border: 1px solid black;
    -moz-box-shadow: 0px 0px 2px #888;
    color: #008280;
}

.topo-menu-2 .sociais span
{
    color: black;
}

.topo-menu-2 .sociais ul li > a
{
    border: 1px solid black;
    color: #676767;
}

.menu-2 .menu-items a,
.menu-2 .menu-items a:hover,
.menu-2 .menu-items a:active,
.menu-2 .menu-items a:focus
{
    color: white!important;
    background-color: transparent;
}


.menu-2  .input-group
{
    background-color: #024c4b!important;
}

.menu-2 .input-group-btn button
{
    color: white;
}
.menu-2
{
    background-color: #008280;
}

.menu-2 .form-control::-webkit-input-placeholder {color: white;}
.menu-2 .form-control:-moz-placeholder {color: white;}
.menu-2 .form-control::-moz-placeholder {color: white;}
.menu-2 .form-control:-ms-input-placeholder {color: white;}

.menu-2 .form-control
{
    background-color: #024c4b!important;
    border: 1px solid #024c4b!important;
    color: white!important;
}/* ----- banner-1 ----- */ .banner-1
                            {
                                height: 500px;
                            }

.banner-1 .banner
{
    height: 500px;
    position: absolute;
}

.banner-1 .banner .item
{
    background-size: cover;
    height:500px;
}

.banner-1 .banner .titulo-banner
{
    margin-top: 150px;
    font-size: 40px!important;
    line-height: 50px;
}

.banner-1 .banner .titulo-banner > span
{
    margin-top: 50px;
}

.banner-1 .banner .titulo-banner small
{
    font-size: 16px;
}

.banner-1 .banner .titulo-banner > .detalhes  span
{
    padding-top: 18px;
    font-size: 20px;
    font-style: italic;
}

.banner-1 .banner .titulo-banner > .detalhes a,
.banner-1 .banner .titulo-banner > .detalhes a:hover,
.banner-1 .banner .titulo-banner > .detalhes a:active
{
    text-decoration: none;
    color: white;
}


.banner-1 .banner .background-banner
{
    height: 100%;
    position: fixed;
}

.banner-1 .pesquisa-banner
{
    z-index: 2;
}

.banner-1 .form-pesquisa-banner-1
{
    margin-top: 30px;
    padding: 8px;
    padding-bottom: 25px;
    float: right;
    right: 0px;
    z-index: 2;
}

.banner-1 .form-pesquisa-banner-1 .bootstrap-select>.dropdown-toggle.bs-placeholder,
.banner-1 .form-pesquisa-banner-1 .bootstrap-select>.dropdown-toggle.bs-placeholder:active,
.banner-1 .form-pesquisa-banner-1 .bootstrap-select>.dropdown-toggle.bs-placeholder:focus,
.banner-1 .form-pesquisa-banner-1 .bootstrap-select>.dropdown-toggle.bs-placeholder:hover,
.banner-1 .form-pesquisa-banner-1 .dropdown-toggle
{
    background-color: transparent!important;
    border-radius: 0!important;
}

.banner-1 .form-pesquisa-banner-1 .form-control
{
    background-color: transparent;
    border-radius: 0;
}

.banner-1 .form-pesquisa-banner-1 .btn-pesquisar
{
    width: 100%;
    height: 46px;
    font-size: 20px;
    border: 0;
    font-style: italic;
    margin-top: 10px;
}

.banner-1 .form-pesquisa-banner-1 h3
{
    font-style: italic;
}

.banner-1 .form-pesquisa-banner-1 .form-filtro label
{
    margin-right: 10px;
}

/*Cores pesquisa*/


.banner-1 .titulo-banner
{
    color: white;
}

.banner-1 .detalhes > span
{
    border-top: 1px solid white;
}

.banner-1 .background-banner
{
    background-color: rgba(0, 0, 0, 0.53);
}


.banner-1 .form-pesquisa-banner-1
{
    background-color: rgba(0, 107, 104, 0.82);
    color: white;
}

.banner-1 .form-pesquisa-banner-1 .bootstrap-select>.dropdown-toggle.bs-placeholder,
.banner-1 .form-pesquisa-banner-1 .bootstrap-select>.dropdown-toggle.bs-placeholder:active,
.banner-1 .form-pesquisa-banner-1 .bootstrap-select>.dropdown-toggle.bs-placeholder:focus,
.banner-1 .form-pesquisa-banner-1 .bootstrap-select>.dropdown-toggle.bs-placeholder:hover,
.banner-1 .form-pesquisa-banner-1 .dropdown-toggle
{
    color: white!important;
    border: 1px solid white!important;
}

.banner-1 .form-pesquisa-banner-1 > .bootstrap-select .dropdown-toggle:focus
{
    border-color: transparent!important;
    border: 1px solid rgb(104, 167, 168)!important;
}

.banner-1 .form-pesquisa-banner-1 .form-control
{
    border: 1px solid white;
    color: white!important;
}

.banner-1 .form-pesquisa-banner-1 .form-control::-webkit-input-placeholder { color: white; }
.banner-1 .form-pesquisa-banner-1 .form-control:-moz-placeholder { color: white; }
.banner-1 .form-pesquisa-banner-1 .form-control::-moz-placeholder { color: white; }
.banner-1 .form-pesquisa-banner-1 .form-control:-ms-input-placeholder { color: white; }

.banner-1 .form-pesquisa-banner-1 .btn-pesquisar
{
    background-color: white!important;
    color: rgb(107, 170, 169) !important;
}/* ----- pesquisa-avançada-1 ----- */ .pesquisa-avancada-1 .form-pesquisa-avancada .slider.slider-horizontal .slider-track
                                       {
                                           height: 4px!important;
                                       }

.pesquisa-avancada-1 .form-pesquisa-avancada .slider-handle.min-slider-handle,
.pesquisa-avancada-1 .form-pesquisa-avancada .slider-handle.max-slider-handle
{
    border: none!important;
    top: 1px;
}
.pesquisa-avancada-1 .form-pesquisa-avancada .filtro-valores
{
    font-size: 12px;
}

.pesquisa-avancada-1 .form-pesquisa-avancada .legendas
{
    font-size: 1.5rem;
    color: #615e5e!important;
    font-weight: bold;
}

.pesquisa-avancada-1 .form-pesquisa-avancada .slider-valores
{
    margin-top: 3px;
}

.pesquisa-avancada-1 .form-pesquisa-avancada .slider.slider-horizontal
{
    margin-left: 9px;
    width: 97%;
}

.pesquisa-avancada-1 .form-pesquisa-avancada .valor-minimo
{
    margin-right: 4px;
}

.pesquisa-avancada-1 .form-pesquisa-avancada .slider-handle
{
    height: 12px;
    width: 12px;
}

.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .btn-pesquisar
{
    width: 100%;
    height: 39px;
    font-size: 18px;
    border: 0;
    font-style: normal;
}

.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .bootstrap-select,
.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .bootstrap-select:active,
.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .bootstrap-select:focus,
.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .bootstrap-select:hover,
.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro.dropdown-toggle,
.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .bootstrap-select > .btn-default,
.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .bootstrap-select > .btn-default,
.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .bootstrap-select > .btn-default,
.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .bootstrap-select > .btn-default
{
    color: black!important;
    border-radius: 0!important;
}

.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .form-control
{
    color: black!important;
    background-color: transparent;
    border:1px solid rgba(0, 0, 0, 0.22);
    border-radius: 0;
}

.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .codigo-imovel
{
    background-color: #e6e6e6!important;
    border: none;
}

.pesquisa-rapida-1 .form-pesquisa-avancada .form-filtro .codigo-imovel::-webkit-input-placeholder { color: black;}
.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .form-control::-webkit-input-placeholder { color: black; }
.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .form-control:-moz-placeholder { color: black; }
.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .form-control::-moz-placeholder { color: black; }
.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .form-control:-ms-input-placeholder { color: black; }


.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .titulo-pesquisa > hr
{
    border-top: 1px solid #565656;
}


.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro label
{
    color: #615e5e!important;
}


.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .btn-pesquisar
{
    background-color: #148c89!important;
    color: whitesmoke !important;
}

.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .btn-pesquisar:hover {
    background-color: #e6e6e6!important;
    color: #148c89 !important;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .slider-track
{
    background-image: linear-gradient(to bottom,#a5a5a5 0,#c3c3c3 100%)!important;
}

.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .slider-handle,
.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .slider-selection
{
    background-image: linear-gradient(to bottom,#252525 0,#3a3b3c 100%)!important;
}

.pesquisa-avancada-1.form-pesquisa-avancada .form-filtro .slider-handle.max-slider-handle
{
    border-left: solid 1px #FFF;
}

.pesquisa-avancada-1.form-pesquisa-avancada .form-filtro .slider-handle.min-slider-handle
{
    border-right: solid 1px #FFF;
}
/* ----- destaque-1 ----- */ .destaques-1
                             {
                                 text-align: center;
                                 margin-bottom: 15px;
                                 margin-top: 35px;
                                 padding-top: 30px;
                                 padding-bottom: 30px;
                                 background-color: #fbfbfb;
                             }

.destaques-1 .titulo-destaque
{
    font-size: 27px;
    margin-top: 4px;
    line-height: 2;
    margin-bottom: 18px;
}


.destaques-1 .linha
{
    margin-top: 14px;
}


.destaques-1 .valor-imovel,
.destaques-1 .previa-imovel .imovel-tipo
{
    font-weight: bold;
    float: right;
    margin-bottom: 5px;
    font-style: italic;
}

.destaques-1 .previa-imovel .detalhes
{
    font-style: normal;
}

.destaques-1 .previa-imovel
{
    font-style: italic;
    margin-bottom: 4px;
    border: 1px solid transparent;
    padding-top: 10px;
    padding-bottom: 10px;
}

.destaques-1 .previa-imovel .img-imovel
{
    margin-bottom: 12px;
    height: 200px;
    background-size: cover;
    background-position: center
}

.destaques-1 .linha hr
{
    width: 105px;
}

.destaques-1 .previa-imovel
{
    font-style: italic;
    margin-bottom: 4px;
    border: 1px solid transparent;
    padding-top: 10px;
    padding-bottom: 10px;
}

.destaques-1 .previa-imovel .img-imovel
{
    margin-bottom: 12px;
    height: 200px;
    background-size: cover;
    background-position: center
}

.destaques-1 .previa-imovel .detalhes,
.destaques-1 .previa-imovel .codigo
{
    font-size: 1.2rem;
}


.destaques-1 .previa-imovel .detalhes-imovel
{
    color: #1b1b1b;
}

@media(min-width:320px) and (max-width: 768px)
{
    .destaques-1 .previa-imovel .nome,
    .destaques-1 .previa-imovel .detalhes
    {
        margin-right: 8px;
    }

    .destaques-1 .previa-imovel
    {
        font-style: italic;
        margin-bottom: 4px;
        border: 1px solid transparent;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .destaques-1 .previa-imovel .valor
    {
        font-size: 1.3rem;
        margin-top: 0;
    }
}

/*Cores*/

.destaques-1 .titulo-destaque
{
    color: #888080;
}

.destaques-1 .previa-imovel:hover
{
    border: 1px solid rgba(0, 129, 129, 0.34);
}

.destaques-1 .linha hr
{
    border-top: 1px solid #5a5959!important;
}

.destaques-1 .previa-imovel .nome,
.destaques-1 .previa-imovel .detalhes
{
    color: #3e3e3e;
}

.destaques-1 .previa-imovel .valor
{
    color: #3e3e3e;
}/* ----- pesquisa-rapida-1 ----- */ .pesquisa-rapida-1 .tipo-destaque
                                     {
                                         height: 227px;
                                         width: 100%;
                                         background-position: center;
                                         background-size: cover;
                                     }

.pesquisa-rapida-1 .busca-rapida
{
    height: 227px;
    line-height: 227px;
    text-align: center;
}

.pesquisa-rapida-1 a:hover span
{
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.pesquisa-rapida-1 a:hover, .pesquisa-rapida-1 a:hover span
{
    -webkit-transition: width 1s, height 1s, background-color 1s, -webkit-transform 1s;
    transition: width 1s, height 1s, background-color 1s, transform 1s;
}

.pesquisa-rapida-1 .busca-rapida span
{
    position: absolute;
    font-style: italic;
    top: 0;
    text-align: center;
    left: 15px;
    right: 15px;
    font-size: 1.8rem;
}

.form-pesquisa-avancada-1 .form-filtro-2 .titulo-pesquisa > hr
{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    width: 103px;
    margin-left: 2px;
}

.form-pesquisa-avancada-1 .form-filtro-2 label
{
    font-weight: normal!important;
}

.form-pesquisa-avancada-1 .form-filtro-2 .btn-pesquisar
{
    width: 100%;
    height: 39px;
    font-size: 18px;
    border: 0;
    font-style: normal;
}

.pesquisa-rapida-1:not(:last-child)
{
    padding-right: 15px;
}

@media(min-width:320px) and (max-width: 768px)
{
    .pesquisa-rapida-1 .busca-rapida
    {
        margin-bottom: 7px;
    }

    .pesquisa-rapida-1 .tipo-destaque span
    {
        font-size: 1.8rem;
    }
}

/*Cores*/


.pesquisa-rapida-1 .busca-rapida
{
    background-color: rgba(0, 0, 0, 0.53);
    color: white;
}

.pesquisa-rapida-1 .busca-rapida .background
{
    background-color: rgba(0, 0, 0, 0.56);
    height: 100%;
}

.pesquisa-rapida-1 .busca-rapida:hover .background
{
    background-color: transparent;

    -webkit-transition: background 1s;
    -moz-transition: background 1s;
    -o-transition: background 1s;
    transition: background 1s;
}/* ----- condominios-1 ----- */ .condominios-1 .titulo
                                 {
                                     font-size: 26px;
                                     font-weight: 100;
                                 }

.condominios-1 hr
{
    width: 80%;
    float: left;
}

.condominios-1
{
    margin-top: 51px;
}

.condominios-1 .logos-condominio .item
{
    height:200px;
}

.condominios-1 .imagem
{
    height: 200px;
    background-position: center;
    background-size: cover;
}

.condominios-1 .logos-condominio
{
    height:200px;
}


.condominios-1 .logos-condominio{
    margin-top: 60px;
    height: 1px;
}

.condominios-1 .logos-condominio .item img
{
    max-height: 130px;
    width: auto;
}

.condominios-1 .logos-condominio .item
{
    height: 130px;
}

.condominios-1 .logos-condominio .item
{
    padding: 10px 5px;
}

.condominios-1 .owl-carousel .owl-item img
{
    width: auto!important;
    margin-right: auto!important;
    margin-left: auto!important;
}

.condominios-1 .logos-condominio .item {
    max-height: 500px;
}

.condominios-1 .owl-carousel .owl-item img
{
    width: 185px!important;
}


@media(min-width:320px) and (max-width: 768px)
{
    .condominios-1 .col-md-9 hr
    {
        width: 204px;
    }

    .condominios-1 .owl-carousel .owl-stage-outer
    {
        width: 100% !important;
    }
}


/*Cores*/

.condominios-1 .titulo
{
    color: #007f83;
}

.condominios-1 hr
{
    border-top: 1px solid #636363;
}/* ----- rodape-1 ----- */ .footer-1 .container
                            {
                                margin-top: 39px;
                            }

.footer-1 span
{
    text-align: center;
    margin-bottom: 15px;
    font-style: italic;
    font-size: 11px;
}

.footer-1 span > a > img
{
    height: 15px;
    margin-right: 20px
}

.footer-1 .dados-contato p ,
.footer-1 .endereco p
{
    margin-top: 11px;
}

.footer-1 .endereco
{
    padding-left: 41px;
}

.footer-1 .facebook
{
    bottom: 10px;
    left: 20px;
}

.footer-1 .linha-topo
{
    width: 200px;
}

.footer-1 .linha-baixo
{
    width: 660px;
    margin-bottom: 15px;
}

@media(min-width:320px) and (max-width: 768px)
{
    .footer-1 .endereco,
    .footer-1 .dados-contato
    {
        padding-left: 15px;
        padding-right: 15px;
        font-size: 1.3rem;
        margin-bottom: 10px;
        text-align: center;
    }

    .footer-1 .linha-baixo
    {
        width: 204px;
    }

    .footer-1 .logo-mobile img
    {
        height: 42px;
        margin-left: auto;
        margin-right: auto;
    }
}

.footer-1 .linha-topo
{
    border-top: 1px solid #008182;

}

.footer-1 .linha-baixo
{
    border-top: 1px solid #008182;
}