/* ----- menu-2 ----- */ .topo-menu-2
{
    margin-bottom: 10px;
}

.topo-menu-2 .menu-2 .contato,
.topo-menu-2 .menu-2.img-imobiliaria
{
    margin-top: 28px;
}

.topo-menu-2 .menu-2 .sociais
{
    margin-top: 10px;
}

.topo-menu-2 .img-imobiliaria
{
    height: 60px!important;
    max-width: 100% !important;
    margin-top: 10px;
}

.topo-menu-2 .contato
{
    left: 169px;
    font-size: 12px
}

.topo-menu-2 .contato .fa-phone ,
.topo-menu-2 .contato .fa-map-marker
{
    padding: 6px 10px;
    display: inline-block;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    font-size: 20px;
    margin-left: 30px;
    margin-right: 5px;
    vertical-align: text-bottom;
}

.topo-menu-2 .contato p
{
    display: inline-block;
    font-style: italic;
    font-weight: bold;
    margin-top: 20px;
}

.topo-menu-2 .sociais span
{
    float: right;
    position: relative;
    top: 15px;
    font-size: 11px;
}

.topo-menu-2 .sociais ul
{
    width: 100%;
}

.topo-menu-2 .sociais ul li
{
    float: right;
}

.topo-menu-2 .sociais ul li > a
{
    font-size: 20px;
    margin-top: 20px;
    padding: 5px;
    text-align: center;
    width: 33px;
    margin-left: 12px;
}

.menu-2
{
    z-index: 2;
}

.menu-2 .pesquisa-imovel form
{
    padding: 0;
    height: 50px;
}

.menu-2  .input-group
{
    height: 100%!important;
}

.menu-2 .input-group-btn button
{
    height: 100% !important;
    background-color: transparent!important;
    font-size: 19px;
}

.menu-2 .form-control::-webkit-input-placeholder {font-style: italic; font-size: 11px;  padding-left: 2px;  }
.menu-2 .form-control:-moz-placeholder {font-style: italic; font-size: 11px;  padding-left: 2px;  }
.menu-2 .form-control::-moz-placeholder {font-style: italic; font-size: 11px;  padding-left: 2px;  }
.menu-2 .form-control:-ms-input-placeholder {font-style: italic; font-size: 11px;  padding-left: 2px;  }

.menu-2 .form-control
{
    background-image: none!important;
    padding-left: 12px!important;;
    height: 100%;
}



.topo-menu-2 .contato .fa-phone ,
.topo-menu-2 .contato .fa-map-marker
{
    border: 1px solid black;
    -moz-box-shadow: 0px 0px 2px #888;
    color: #008280;
}

.topo-menu-2 .sociais span
{
    color: black;
}

.topo-menu-2 .sociais ul li > a
{
    border: 1px solid black;
    color: #676767;
}

.menu-2 .menu-items a,
.menu-2 .menu-items a:hover,
.menu-2 .menu-items a:active
{
    color: white!important;
    background-color: transparent;
}


.menu-2  .input-group
{
    background-color: #024c4b!important;
}

.menu-2 .input-group-btn button
{
    color: white;
}
.menu-2
{
    background-color: #008280;
}


.menu-2 .form-control::-webkit-input-placeholder {color: white;}
.menu-2 .form-control:-moz-placeholder {color: white;}
.menu-2 .form-control::-moz-placeholder {color: white;}
.menu-2 .form-control:-ms-input-placeholder {color: white;}

.menu-2 .form-control
{
    background-color: #024c4b!important;
    border: 1px solid #024c4b!important;
    color: white!important;
}

/* ----- resultado-pesquisa-1 ----- */ .pesquisa-1
                                       {
                                           margin-top: 120px;
                                       }

.pesquisa-1 .titulo-resultado-pesquisa
{
    font-size: 2.1rem;
    font-style: italic;
}
.pesquisa-1 .titulo-resultado-pesquisa .total-imoveis
{
    font-weight: bold;
}

.pesquisa-1 .filtro-valor
{
    text-align: right;
    font-style: italic;
}

.pesquisa-1 .filtro-valor label
{
    font-size: 1.7rem;
    font-weight: normal;
    margin-right: 4px;
}

.pesquisa-1 .valor-imovel,
.pesquisa-1 .previa-imovel .imovel-tipo
{
    font-weight: bold;
    float: right;
    margin-bottom: 5px;
    font-style: italic;
}

.pesquisa-1 .previa-imovel .detalhes
{
    font-style: normal;
    font-size: 1.3rem;
}

.pesquisa-1 .filtro-valor .bootstrap-select>.dropdown-toggle.bs-placeholder,
.pesquisa-1 .filtro-valor .bootstrap-select>.dropdown-toggle.bs-placeholder:active,
.pesquisa-1 .filtro-valor .bootstrap-select>.dropdown-toggle.bs-placeholder:focus,
.pesquisa-1 .filtro-valor .bootstrap-select>.dropdown-toggle.bs-placeholder:hover,
.pesquisa-1 .filtro-valor .dropdown-toggle
{
    border-radius: 0!important;
    font-size: 1.2rem;
}

.pesquisa-1 .imoveis-resultado-pesquisa
{
    margin-top: 20px;
}

.pesquisa-1 .previa-imovel
{
    font-style: italic;
    margin-bottom: 4px;
    border: 1px solid transparent;
    padding-top: 10px;
    padding-bottom: 10px;
}

.pesquisa-1 .previa-imovel .img-imovel
{
    margin-bottom: 12px;
    height: 200px;
    background-size: cover;
    background-position: center
}

.pesquisa-1 .previa-imovel .img-imovel figure
{
    height: 200px;
    overflow: hidden;
}

.pesquisa-1 .previa-imovel .img-imovel img
{
    width: 100%;
}


.pesquisa-1 .imoveis-resultado-pesquisa .previa-imovel .ribbon
{
    left: 10px;
    top: -5px;
}

.pesquisa-1 .imoveis-resultado-pesquisa .previa-imovel .ribbon.temporada span,
.pesquisa-1 .imoveis-resultado-pesquisa .previa-imovel .ribbon.venda span,
.pesquisa-1 .imoveis-resultado-pesquisa .previa-imovel .ribbon.aluguel span
{
    font-size: 8px;;
    width: 83px;
    top: 13px;
    left: -18px;
}

@media(min-width:320px) and (max-width: 768px)
{
    .pesquisa-1  .previa-imovel .imovel-tipo,
    .pesquisa-1  .previa-imovel .detalhes
    {
        margin-right: 8px;
    }

    .pesquisa-1 .detalhes-imovel
    {
        font-size: 1.2rem;
    }

    .pesquisa-1 .previa-imovel .valor
    {
        font-size: 1.3rem;
        margin-top: 0;
    }

    .pesquisa-1 .filtro-valor .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn)
    {
        width: 100%;
    }

    .pesquisa-1 .filtro-valor
    {
        margin-top: 0;
        padding-left: 15px;
        padding-right: 15px;
        font-style: italic;
    }

    .pesquisa-1
    {
        margin-top: 0;
    }
}


.pesquisa-1 .previa-imovel:hover
{
    border: 1px solid rgba(0, 129, 129, 0.34);
}

.pesquisa-1 .linha hr
{
    border-top: 1px solid #5a5959!important;
}


.pesquisa-1 .previa-imovel .imovel-tipo,
.pesquisa-1 .previa-imovel .detalhes,
.pesquisa-1 .previa-imovel .codigo
{
    color: #3e3e3e;
}
.pesquisa-1 .detalhes-imovel
{
    color: black;
}

.pesquisa-1 .previa-imovel .detalhes, .pesquisa-1 .previa-imovel .codigo
{
    font-size: 1.2rem;
}

.pesquisa-1 .previa-imovel .valor
{
    color: #3e3e3e;
}

.pesquisa-1 .filtro-valor .bootstrap-select>.dropdown-toggle.bs-placeholder,
.pesquisa-1 .filtro-valor .bootstrap-select>.dropdown-toggle.bs-placeholder:active,
.pesquisa-1 .filtro-valor .bootstrap-select>.dropdown-toggle.bs-placeholder:focus,
.pesquisa-1 .filtro-valor .bootstrap-select>.dropdown-toggle.bs-placeholder:hover,
.pesquisa-1 .filtro-valor.dropdown-toggle
{
    color: black!important;
}/* ----- pesquisa-avançada-1 ----- */ .pesquisa-avancada-1 .form-pesquisa-avancada .slider.slider-horizontal .slider-track
                                       {
                                           height: 4px!important;
                                       }

.pesquisa-avancada-1 .form-pesquisa-avancada .slider-handle.min-slider-handle,
.pesquisa-avancada-1 .form-pesquisa-avancada .slider-handle.max-slider-handle
{
    border: none!important;
    top: 1px;
}
.pesquisa-avancada-1 .form-pesquisa-avancada .filtro-valores
{
    font-size: 12px;
}

.pesquisa-avancada-1 .form-pesquisa-avancada .legendas
{
    font-size: 12px;
}

.pesquisa-avancada-1 .form-pesquisa-avancada .slider-valores
{
    margin-top: 3px;
}

.pesquisa-avancada-1 .form-pesquisa-avancada .slider.slider-horizontal
{
    margin-left: 9px;
    width: 97%;
}

.pesquisa-avancada-1 .form-pesquisa-avancada .valor-minimo
{
    margin-right: 4px;
}

.pesquisa-avancada-1 .form-pesquisa-avancada .slider-handle
{
    height: 12px;
    width: 12px;
}

.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .btn-pesquisar
{
    width: 100%;
    height: 39px;
    font-size: 18px;
    border: 0;
    font-style: normal;
}


.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .bootstrap-select,
.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .bootstrap-select:active,
.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .bootstrap-select:focus,
.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .bootstrap-select:hover,
.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro.dropdown-toggle,
.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .bootstrap-select > .btn-default,
.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .bootstrap-select > .btn-default,
.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .bootstrap-select > .btn-default,
.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .bootstrap-select > .btn-default
{
    color: black!important;
    border-radius: 0!important;
}



.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .form-control
{
    color: black!important;
    background-color: transparent;
    border:1px solid rgba(0, 0, 0, 0.22);
    border-radius: 0;
}

.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .codigo-imovel
{
    background-color: grey!important;
    color: whitesmoke!important;
}

.pesquisa-rapida-1 .form-pesquisa-avancada .form-filtro .codigo-imovel::-webkit-input-placeholder { color: whitesmoke!important;}


.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .form-control::-webkit-input-placeholder { color: black; }
.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .form-control:-moz-placeholder { color: black; }
.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .form-control::-moz-placeholder { color: black; }
.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .form-control:-ms-input-placeholder { color: black; }


.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .titulo-pesquisa > hr
{
    border-top: 1px solid #565656;
}


.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro label
{
    color: #615e5e!important;
}


.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .btn-pesquisar
{
    background-color: #148c89!important;
    color: whitesmoke !important;
}


.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .slider-track
{
    background-image: linear-gradient(to bottom,#a5a5a5 0,#c3c3c3 100%)!important;
}

.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .slider-handle,
.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .slider-selection
{
    background-image: linear-gradient(to bottom,#252525 0,#3a3b3c 100%)!important;
}

.pesquisa-avancada-1.form-pesquisa-avancada .form-filtro .slider-handle.max-slider-handle
{
    border-left: solid 1px #FFF;
}

.pesquisa-avancada-1.form-pesquisa-avancada .form-filtro .slider-handle.min-slider-handle
{
    border-right: solid 1px #FFF;
}
/* ----- condominios-1 ----- */ .condominios-1 .titulo
                                {
                                    font-size: 26px;
                                    font-weight: 100;
                                }

.condominios-1 hr
{
    width: 80%;
    float: left;
}

.condominios-1
{
    margin-top: 51px;
}

.condominios-1 .logos-condominio .item
{
    height:200px;
}

.condominios-1 .logos-condominio
{
    height:200px;
}


.condominios-1 .logos-condominio{
    margin-top: 60px;
    height: 1px;
}

.condominios-1 .logos-condominio .item img
{
    max-height: 130px;
    width: auto;
}

.condominios-1 .logos-condominio .item
{
    height: 130px;
}

.condominios-1 .logos-condominio .item
{
    padding: 10px 5px;
}

.condominios-1 .owl-carousel .owl-item img
{
    width: auto!important;
    margin-right: auto!important;
    margin-left: auto!important;
}

.condominios-1 .logos-condominio .item {
    max-height: 500px;
}

.condominios-1 .owl-carousel .owl-item img
{
    width: 185px!important;
}


@media(min-width:320px) and (max-width: 768px)
{
    .condominios-1 .col-md-9 hr
    {
        width: 204px;
    }

    .condominios-1 .owl-carousel .owl-stage-outer
    {
        width: 100% !important;
    }
}


/*Cores*/

.condominios-1 .titulo
{
    color: #007f83;
}

.condominios-1 hr
{
    border-top: 1px solid #636363;
}/* ----- rodape-1 ----- */ .footer-1 .container
                            {
                                margin-top: 39px;
                            }

.footer-1 span
{
    text-align: center;
    margin-bottom: 15px;
    font-style: italic;
    font-size: 11px;
}

.footer-1 span > a > img
{
    height: 15px;
    margin-right: 20px
}

.footer-1 .dados-contato p ,
.footer-1 .endereco p
{
    margin-top: 11px;
}

.footer-1 .endereco
{
    padding-left: 41px;
}

.footer-1 .facebook
{
    bottom: 10px;
    left: 20px;
}

.footer-1 .linha-topo
{
    width: 200px;
}

.footer-1 .linha-baixo
{
    width: 660px;
    margin-bottom: 15px;
}

@media(min-width:320px) and (max-width: 768px)
{
    .footer-1 .endereco,
    .footer-1 .dados-contato
    {
        padding-left: 15px;
        padding-right: 15px;
        font-size: 1.3rem;
        margin-bottom: 10px;
        text-align: center;
    }

    .footer-1 .linha-baixo
    {
        width: 204px;
    }

    .footer-1 .logo-mobile img
    {
        height: 42px;
        margin-left: auto;
        margin-right: auto;
    }
}

.footer-1 .linha-topo
{
    border-top: 1px solid #008182;

}

.footer-1 .linha-baixo
{
    border-top: 1px solid #008182;
}